
.button{
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
    bottom: -30px;
    background-color: hsl(150, 100%, 66%);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ;
    
}

.button:hover{

    box-shadow: 2px 2px 50px hsl(150, 100%, 66%);
}
    
    


